body{
    font-family: Tahoma;
}

header, footer{
    background: #fafbfc;
}

footer{
    padding-top:10px;
    padding-bottom: 10px;
}

p {
    text-align: justify;
}

.nav, .nav li{
    list-style: none;
}

.nav li {
    display: inline-block;
}


.logo-footer{
    font-weight: 600;
}

.logo-footer:hover{
    font-weight: 600;
}


.nav li:first-child a{
    font-weight: bold;
    font-size: 16px;
}

.copyright{

}

h1{
    font-size: 28px;
}


.date{
    margin: 20px 0 0 0;
}

.content{
    margin:20px 0 25px 0;
}