header, footer{
    background: #fafbfc;
}

footer{
    padding-top:10px;
    padding-bottom: 10px;
}

.nav, .nav li{
    list-style: none;
}

.nav li {
    display: inline-block;
}


.nav li:first-child a{
    font-weight: bold;
    font-size: 16px;
}

.copyright{

}

h1{
    font-size: 28px;
}


.date{
    margin-top: 20px;
    height: 30px;
}

.content{
    margin:20px 0 25px 0;
}